<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Diamond all around Necklace_alt.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

        <h1>THE MOST PRECIOUS THING IN OUR LIVES… “OUR CHILDREN”</h1>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
                <p>Have you realized that everyday, you hear more and more of your close friends, family and coworkers who are having a little one? Personally, I know at least four people who is either having their first child or a second one on the way. I find myself struggling each time a baby shower comes around. I want to offer something unique, something different and something that will last a long time. I have a niece who is 1 year and 2 months and boy is she active and a hand full. All the toys I’ve given her is either torn apart or broken. I finally decided to give her some fun jewelry and surprise surprise, she’s still wearing it today!</p>  
              </div>
            </div>
          </div>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
                <div class="gallery">
                <a href="images/childs/Minnie-Mouse-Necklace-and-Bracelet1-1024x881.jpg" 
                data-lightbox="childs" data-title="Minnie Mouse Necklace and Bracelet Set">
                <img src="images/childs/Minnie-Mouse-Necklace-and-Bracelet1-1024x881.jpg" width="25%"></a>

                <a href="images/childs/Minnie-pearl-charm-bracelet-1024x478.jpg" 
                data-lightbox="childs" data-title="Minnie Pearl Charm Bracelet">
                <img src="images/childs/Minnie-pearl-charm-bracelet-1024x478.jpg" width="25%">
                </a>

                <a href="images/childs/Minnie-Mouse-Necklace-932x1024.jpg" 
                data-lightbox="childs" data-title="Minnie Mouse Necklace with Pink Bow">
                <img src="images/childs/Minnie-Mouse-Necklace-932x1024.jpg" width="25%"></a>

                <a href="images/childs/Mickey-Mouse-Necklace-747x1024.jpg" 
                data-lightbox="childs" data-title="Mickey Mouse Necklace">
                <img src="images/childs/Mickey-Mouse-Necklace-747x1024.jpg" width="25%"></a>

                <a href="images/childs/Cinderella-Enamal-3-pendent-necklace-682x1024.jpg" 
                data-lightbox="childs" data-title="Cinderella Crown, Carriage and Slippers Necklace">
                <img src="images/childs/Cinderella-Enamal-3-pendent-necklace-682x1024.jpg" width="25%"></a>

                <a href="images/childs/Cinderella-Pumpkin-942x1024.jpg" 
                data-lightbox="childs" data-title="Cinderella Diamond Pumpkin Carriage with Sapphire">
                <img src="images/childs/Cinderella-Pumpkin-942x1024.jpg" width="25%"></a>

                <a href="images/childs/Cinderella-Crown-991x1024.jpg" 
                data-lightbox="childs" data-title="Cinderella Diamond Crown">
                <img src="images/childs/Cinderella-Crown-991x1024.jpg" width="25%"></a>

                <a href="images/childs/Cinderella-bow-1024x996.jpg" 
                data-lightbox="childs" data-title="Cinderella Bow">
                <img src="images/childs/Cinderella-bow-1024x996.jpg" width="25%"></a>

                <a href="images/childs/Snow-White-Apple-1024x679.jpg" 
                data-lightbox="childs" data-title="Snow White Poison Apple with Diamond and Sapphire">
                <img src="images/childs/Snow-White-Apple-1024x679.jpg" width="25%"></a>

                <a href="images/childs/Cinderella-white-slippers-1024x661.jpg" 
                data-lightbox="childs" data-title="Cinderella White Slippers with Diamonds and Sapphire Necklace">
                <img src="images/childs/Cinderella-white-slippers-1024x661.jpg" width="25%"></a>

                <a href="images/childs/Cinderella-Slippers-639x1024.jpg" 
                data-lightbox="childs" data-title="Cinderella Slippers with Diamonds and Sapphire Necklace">
                <img src="images/childs/Cinderella-Slippers-639x1024.jpg" width="25%"></a>
                </div>
          <br>
          <br>

          <div id="pins" class="transitions-enabled">
            <% @pins.each do |pin| %>
              <div class="box_pin panel panel-default">
                <%= link_to image_tag(pin.image.url(:medium)), pin %>
                <div class="panel-body">
                  <%= pin.description %>
                  <br>
                  <p><%= raw pin.tag_list.map { |t| link_to t, tag_path(t) }.join(',  ') %></p>
                  <h5>posted by: <strong><%= pin.user.name if pin.user %></strong></h5>
                  <br/>
                  <% if pin.user == current_user %>
                    <div class="actions">
                      <%= link_to edit_pin_path(pin) do %>
                        Edit
                      <% end %>
                      <br>  
                      <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        Delete
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

                </div>
            </div>
          </div>

</div>