<div class="container">

<div id="carousel" class="carousel slide" data-ride="carousel">
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Diamond all around Necklace_alt.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<h2>Jewelry Gallery:</h2>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box_pin panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %>
        <h5>posted by: <strong><%= pin.user.name if pin.user %></strong></h5>
        <br/>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              Edit
            <% end %>
            <br>  
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>

</div>



