<nav class="navbar navbar-static-top navbar-default" role="navigation">
<div class="container">

<nav class="navbar navbar-static-top navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to image_tag("sunshine_logo.jpg", :alt => "sunshine"), 
            root_path %>
    </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "HOME", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT US <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Our Mission", mission_path %></li>
            <li><%= link_to "Our Services", services_path %></li>
            <li><%= link_to "Our Goldsmith", goldsmith_path %></li>
            <li><%= link_to "Our Awards", awards_path %></li>
          </ul>
        </li>

        <li><%= link_to "GALLERY", pins_path %></li>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Wedding Rings/Bands", rings_path %></li>
            <li><%= link_to "Fashion Rings", frings_path %></li>
            <li><%= link_to "Fashion Jewelry", fashion_path %></li>
            <li><%= link_to "Pearls", pearls_path %></li>
            <li><%= link_to "Gold", gold_path %></li>
            <li><%= link_to "Children's Jewelry", childs_path %></li>
            <li><%= link_to "Yan Djap's Custom Designs", custom_path %></li>
          </ul>
        </li>
        <li><%= link_to "CONTACT", contact_path %></li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %> 
            <li>
              <%= link_to new_post_path do %>
                <span class="glyphicon glyphicon-plus"></span> New Post<% end %>
            </li>
            <li>
              <%= link_to new_pin_path do %>
                <span class="glyphicon glyphicon-plus"></span> New Image<% end %>
            </li>
            <li>
                <button class="glyphicon glyphicon-plus" id="save"> Save Edits</button>
            </li>
                <li><%= link_to "Account", edit_user_registration_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Log In", new_user_session_path %></li>
              <% end %>
          </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>