<!DOCTYPE html>
<html>
<head>
  
  <title>Sunshine Jewelry</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="/javascripts/lightbox.js"></script>
  <link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />
  <%= csrf_meta_tags %>
  <meta name="description" content="Sunshine Jewelry - A Jewelry Store Located in Philadelphia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

	<%= render 'layouts/header' %>
	<div class="container-fluid">
		<% flash.each do |name, msg| %>
     		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>

<script>
    var theContent = $('#content2');// set the content
    
    $('#save').on('click', function(){ // store the new content in localStorage when the button is clicked
      var editedContent   = theContent.html();
      localStorage.newContent = editedContent;
    });

    if(localStorage.getItem('newContent')) { // apply the newContent when it is exist ini localStorage
      theContent.html(localStorage.getItem('newContent'));
    }
</script>

</body>
</html>
